.*.sw*
.DS_Store
obj_dir
/AtomicParsley*
Makefile
autom4te.cache
config.log
config.status
configure
src/Makefile
src/config.h
src/config.h.in*
Makefile.in
aclocal.m4
depcomp
install-sh
missing
*.o
*.obj
.deps
compile
src/.deps
.dirstamp
config.guess
config.sub
src/stamp-h1
a.out.dSYM
a.out
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
.ninja*
*.ninja
