name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: cmake .
    - name: build
      run: cmake --build . --config Release

  asan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: cmake -DASAN=on -DCMAKE_BUILD_TYPE=Debug .
    - name: build
      run: cmake --build .
    - name: test
      run: tests/test.sh
